body {
    font-family: neue-haas-grotesk-text, neue-haas-grotesk-display, Helvetica, sans-serif, Arial, sans-serif;
}

h1 {
	padding:2.0em;
}

a {
    color: #26CAD3;

}

.pset {
    padding:5.0em;
}

#pset {
    font-family: courier;
}